body, html
    position relative
    padding 0
    margin 0
    min-height 100vh
    width 100%
    min-width 320px
    background-color $black


*
    font-family "Roboto"
    box-sizing border-box

    &:focus, &:active
        outline none !important


img, svg
    border 0
    outline none
    max-width 100%


ul,li
    margin 0
    padding 0
    list-style-type none


h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, label
    margin 0
    padding 0
    text-decoration none
    -webkit-font-smoothing antialiased


ul, li
    padding 0
    margin 0
    list-style-type none
    
.relative
    position relative
    
.absolute
    position absolute

div.container
    display flex
    
    &--container-outer
        width 100vw
        min-height 500px
        flex-flow column wrap
        justify-content center
        align-items center
        
    &.black
        background-color $black
        
    &.yellow
        background-color $yellow
        
    &--container-inner
        width 1280px
        flex-flow column wrap
        justify-content center
        align-items center
        
        &--row
            flex-flow row wrap
    
.text-container
    &--center
        float none
        margin 0 auto    


/* -- HEADER -- */
div.container.container--container-outer.yellow
    max-height 350px
    min-height 250px

div.header
    flex-flow row wrap
    justify-content center
    align-items center
    
    &--header-part
        flex-flow: column wrap
        justify-content center
        align-items center
        
        width 50%
        max-width: 638px
        
        .text-container
            max-width 65%
            
        h1
            font-weight 400
            font-size 36px
            
        div.absolute
            span
                color white
                font-size 20px
        

.divider
    width 2px
    height: 190px
    background-color $black
    

/* -- FORM SECTION -- */
div.container.container--container-outer#form-section
    div.container.container--container-inner
        justify-content flex-start
        align-items flex-start
        
        max-width 640px

        h2
            color yellow
            font-size 28px
            font-weight 400
            
        p
            color $grey
            margin-top 25px
            max-width 80%
            

/* -- WHERE CONTAINER -- */
div.container.container--container-outer#where
    div.container.container--container-inner
        p
            color grey
            
        div.logo-container
            width 450px
            
            flex-flow row wrap
            justify-content space-between
            align-items center